{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "bracketSpacing": true
}
